{% extends 'base.html'%}
{% block title %}

Homepage
{% endblock %}

{% block head %}
    {% endblock %}

{% block content %}
<div id="bgpic">
    <div class="home-wrap">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <p> If you haven't watched Rick and Morty, a cartoon about the adventures of a mad scientist and his hapless grandson, teleport to the nearest screen and shove every episode into your eyes as soon as possible. </p>
    </div>
</div>




<div class ="container-fluid"> <!--Nest container-fluid for your container class. Container div should nest your entire website content less nav bar.-->

<div class=row id="content">
   <div> <img class= "purposeimg col-md-8" src="/static/img/mypurpose.jpg" alt="Rick Sanchez from Rick and Morty" img="center"> </img></div>

</div>
    <br>


    <div class="row" id="pictures">

        <div id="Rick" class="col-md-4 col-sm-12 col-lg-4" >  </id><h2>Rick Sanchez</h2>
                <img class="animated bounce imgresize" src="/static/img/ricks.jpg" alt="Rick Sanchez from Rick and Morty"> </img><br>
            <ul>
                <li>He's hyper intelligent.</li>
                <li>Insane self absorbed.</li>
                <li>Can literally do anything, but only if he wants to.</li>
                <li>Loves intergalatic cable.</li>
            </ul>
        </div>

            <div id="Morty" class="col-md-4 col-sm-12 col-lg-4"> <h2>Morty</h2>
                 <img class="imgresize" src="/static/img/Mortykitty.jpg" alt="Morty from Rick and Morty"> </img><br>
                <ul>
                    <li>Very sensitive and lacks confidence.</li>
                    <li>Very helpful to his grandpa.</li>
                    <li>Teenage boy with teenager problems.</li>
                    <li>Loves intergalatic cable</li>
                </ul>
        </div>
            <div id="Noob" class="col-md-4 col-sm-12 col-lg-4"> <h2>Noob-noob</h2>
                <img class="imgresize" src="/static/img/noob.jpg" alt="Noob-noob from Rick and Morty"> </img><br>
                <ul><li>Has the best "DAAAMN" replies.</li>
                    <li> Rick's favorite.</li>
                    <li>Has never gone on a vindicator adventure.</li></ul>
        </div>
    </div>
<div class=footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

   <h2 class="animated rollIn"> This fan page was made by Ahmer Malik (c) 2017</h2>
</div>
</div>

{% endblock %}
